name: Build static systemd cryptsetup with musl in debian trixie container

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: debian:trixie

    steps:
    - uses: actions/checkout@v4

    - name: Install prerequisites
      run: apt-get update && apt-get install -y autopoint gperf gettext autoconf-archive ninja-build libltdl-dev make python3-venv git pkg-config python3-jinja2 musl-dev flex bison cmake

    - name: Run make
      run: make MUSL=yes SYSTEMD_VERSION=main-p
