name: Build static systemd cryptsetup in debian trixie container

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: debian:trixie

    steps:
    - uses: actions/checkout@v4

    - name: Install prerequisites
      run: apt-get update && apt-get install -y libaio-dev autopoint libpopt-dev libjson-c-dev gperf gettext autoconf-archive libcap-dev ninja-build libmbedtls-dev libltdl-dev make python3-venv git pkg-config python3-jinja2

    - name: Run make
      run: make
